@inject IPrismicService PrismicService

<div class="pl-4 navbar">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @foreach (var shelf in Shelves)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@shelf.Uid">
                    @shelf.Name
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private IList<Shelf> Shelves { get; set; } = new List<Shelf>();

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        Shelves = await PrismicService.GetShelves();
    }
}
